<a href="https://colab.research.google.com/github/SofiaLumbik/python2/blob/master/%D0%9A%D1%80.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#@title Задание 1
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [ ]:
!ls -l '/content/gdrive/MyDrive/Основы программирования'

total 16
drwx------ 2 root root  4096 May 12 10:44 actors
-rw------- 1 root root   144 May 10 10:37 d.txt
-rw------- 1 root root   227 May 10 10:38 names.txt
-rw------- 1 root root   149 May 10 10:40 words.txt
-rw------- 1 root root 10128 May 19 10:29 Книга1.xlsx

In [ ]:
import pandas as pd
df_1=pd.concat(pd.read_excel('/content/gdrive/MyDrive/Основы программирования/Книга1.xlsx', sheet_name=None), ignore_index=True)
df_1

   0       name    surname  year of birth  group  score
0  1      Софья    Лумбова           2004  22БИ1    8.0
1  2    Татьяна    Лапшина           2004  22БИ1    9.0
2  3     Полина   Гагулина           2004  22БИ1   10.0
3  4  Анастасия    Хоменко           2004  22БИ1    8.0
4  5      София  Маслинова           2004  22БИ1    6.0
5  6    Снежана   Чумазина           2003  22БИ2    8.0
6  7       Нина   Корягина           2003  22БИ2    9.0
7  8      Мария   Абрамова           2003  22БИ2    8.0

In [ ]:
df_1.loc[(df_1['score'] >= 8) & (df_1['group'] == "22БИ1")]

   0       name   surname  year of birth  group  score
0  1      Софья   Лумбова           2004  22БИ1    8.0
1  2    Татьяна   Лапшина           2004  22БИ1    9.0
2  3     Полина  Гагулина           2004  22БИ1   10.0
3  4  Анастасия   Хоменко           2004  22БИ1    8.0

In [ ]:
#@title Задание 4 
n=int(input())
num=0
for i in range(10**(n-1),10**n,1):
  num=i
  sum=0
  while num>0:
    sum+=num%10
    num//=10
  if sum==n:
    print(i)

3
102
111
120
201
210
300

In [ ]:
#@title Задание 3
from google.colab import drive
drive.mount ('/content/gdrive/')

Drive already mounted at /content/gdrive/; to attempt to forcibly remount, call drive.mount("/content/gdrive/", force_remount=True).

In [ ]:
f=open('/content/gdrive/MyDrive/Основы программирования/txt/1.txt' , 'r')